h1 {
    color: blue;
}
body {
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
  background-color: whitesmoke;
}

#page-content {
  margin: 40px;
}

#headshot {
  width: 100%;
  height: auto;
  margin-bottom: 40px; /* Whitespace needed for mobile */
}

/* #headshotContainer {
  display: inline-block;
  width: 30%;
  margin: -4px;
}

#aboutContainer {
  display: inline-block;
  width: 70%;
  margin: -4px;
} */